<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Include>[ClassIsland.Platforms.Abstractions]*</Include>
          <ExcludeByFile>**/Stubs/Services/AppLifetimeServiceStub.cs,**/Stubs/Services/DesktopServiceStub.cs,**/Stubs/Services/DesktopToastServiceStub.cs,**/Stubs/Services/SystemEventsServiceStub.cs,**/Stubs/Services/WindowPlatformServiceStub.cs</ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
